<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="smtpHost" type="xstring" value="smtp.rewe.local"/>
<entry key="smtpPort" type="xint" value="25"/>
<entry key="useAuthentication" type="xboolean" value="false"/>
<entry key="useCredentials" type="xboolean" value="false"/>
<entry key="credentialsId" type="xstring" value=""/>
<entry key="smtpUser" type="xstring" value=""/>
<entry key="smtpPasswordWeaklyEncrypted" type="xpassword" value="01BF3C300BA0E6130E8B1D1DAFD4D116E4"/>
<entry key="connectionSecurity" type="xstring" value="NONE"/>
<entry key="emailFormat" type="xstring" value="Text"/>
<entry key="emailPriority" type="xstring" value="Normal"/>
<entry key="from" type="xstring" value="michael.cristescu@rewe-group.com"/>
<entry key="to" type="xstring" value="michael.cristescu@rewe-group.com"/>
<entry key="cc" type="xstring" value=""/>
<entry key="bcc" type="xstring" value=""/>
<entry key="subject" type="xstring" value="Knime: Log from Python - Ecom App Dahboard v2"/>
<entry key="text" type="xstring" value="CRM Owned Media UUID by Device%%00010Your log file from $${SFILE_PATH}$$ is attached"/>
<config key="attachedURLs">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="file:/(Anhang%20unter%20Reiter%20%22Flow%20Variables%22%20festlegen!)"/>
</config>
<entry key="smtpConnectionTimeout" type="xint" value="2000"/>
<entry key="smtpReadTimeout" type="xint" value="30000"/>
</config>
<config key="variables">
<config key="attachedURLs">
<config key="0">
<entry key="used_variable" type="xstring" value="FILE_PATH"/>
<entry key="exposed_variable" type="xstring" isnull="true" value=""/>
</config>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Send logfile"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="627"/>
<entry key="y-coordinate" type="xint" value="1000"/>
<entry key="width" type="xint" value="106"/>
<entry key="height" type="xint" value="15"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles"/>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="CONFIGURED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.util.sendmail.SendMailNodeFactory"/>
<entry key="node-name" type="xstring" value="Send Email"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.1.4.v202008180725"/>
<entry key="node-feature-name" type="xstring" value="KNIME Core"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.1.4.v202008250823"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Send Email"/>
<entry key="hasContent" type="xboolean" value="false"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports"/>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" isnull="true" value=""/>
</config>
</config>
